.btn {
  border-radius: 22px;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  position: relative;
  &.-default {
    background: $green;
    color: #fff;
  }
  .icon {
    width: 25px;
    height: 18px;
    position: absolute;
    right: 85px;
    fill: #fff;
    stroke: #fff;
    @media (min-width: 360px) {
      right: 115px;
    }
  }

}