.home {
  .home__title {
    font-size: 22px;
    text-align: center;
    margin-top: 25px;
  }
  .form {
    margin-top: 35px;
    ul {
      height: calc(100vh - 280px);
      @media (min-width: 720px) {
        height: calc(100vh - 360px);
      }
      li {
        margin-bottom: 30px;
      }
    }
    .wrapper-btn {
      display: flex;
      justify-content: space-around;
      &.-rigth-btn {
        justify-content: flex-end;
      }
    }
  }
}