.home {
  .home__title {
    font-size: 22px;
    text-align: center;
    margin-top: 35px;
  }
  .form {
    margin-top: 35px;
    ul {
      min-height: 260px;
      li {
        margin-bottom: 30px;
      }
    }
    .wrapper-btn {
      display: flex;
      justify-content: space-between;
      &.-rigth-btn {
        justify-content: flex-end;
      }

      .next {
        padding: 10px 40px 10px 0;
      }

      .prev {
        color: $green;
        background: #FFF;
        border: 1px solid $green;
      }
    }
  }
}